*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
#*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mercurial
.hg
.hgcheck
.hgignore
.hgtags
.metadata
.settings

doc/_build
virtualenv/web/env/
virtualenv/web/project-boot.py
web/static/
run/
src/p4l/config.py
