{% load i18n %}

{% trans 'Add' %}
{% trans 'Save' %}
{% trans 'Update' %}
{% trans 'Add a new subject' %}
{% trans 'Add a new theme' %}
{% trans 'Add a new country' %}
{% trans 'Add a new language' %}
{% trans 'Add a new project' %}
{% trans 'Add a new organization' %}
{% trans 'Add a new audience' %}
{% trans 'Modify the language' %}
{% trans 'Modify the record type' %}
{% trans 'title' %}
{% trans 'abstract' %}
{% trans 'collation' %}
{% trans 'label' %}
{% trans 'name' %}
{% trans 'View the record' %}
{% trans 'Edit the record' %}
{% trans 'An error occured. Somes datas may be incorrect or incomplete.' %}
{% trans 'This page is asking you to confirm that you want to leave - data you have entered may not be saved.' %}
{% trans 'Title' %}