<form class="form-inline well" role="form">
  <div class="form-group">
    <label for="address-{{$id}}">{{'Address'|translate}}</label>
    <input type="text" placeholder="{{'Address'|translate}}" ng_model="editedObj.address" id="address-{{$id}}"  class="form-control"/>
  </div>
  <div class="form-group">
    <label for="display-{{$id}}">{{'display'|translate}}</label>
    <input type="text" placeholder="{{'display'|translate}}" ng_model="editedObj.display" id="display-{{$id}}" class="form-control"/>
  </div>
</form>